.message-box {
  position: relative;
  display: flex;
  width: 100%;
  margin: 5px 0;

  &.self {
    justify-content: flex-end;

    > div {
      position: relative;
      right: 0;
      text-align: right;
      background: #d9fdd3;
      max-width: 65%;
      padding: 10px 10px 0 10px;
      border-radius: 5px;
      font-size: 0.9em;
    }

    &::before {
      content: '';
      position: absolute;
      top: 0;
      right: -10px;
      width: 20px;
      height: 20px;
      background: linear-gradient(135deg, #d9fdd3 0%, #d9fdd3 50%, transparent 50%, transparent);
    }
  }

  &.friend {
    justify-content: flex-start;

    > div {
      position: relative;
      right: 0;
      text-align: left;
      background: #fff;
      max-width: 65%;
      padding: 10px 10px 0 10px;
      border-radius: 5px;
      font-size: 0.9em;
    }

    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: -10px;
      width: 20px;
      height: 20px;
      background: linear-gradient(225deg, #fff 0%, #fff 50%, transparent 50%, transparent);
    }
  }
}